* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #800000;
    margin-top: 3%;
}

header {
    background-color: white;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    color: #C51E3A;
    font-size: larger;
}

form {
    border: solid 1px black;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20%;
}

h2 {
    justify-self: center;
    align-self: center;
    font-weight: lighter;
    padding: 10px;
}