* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #800000;
    margin-top: 3%;
}

header {
    background-color: white;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    color: #C51E3A;
    font-size: larger;
}

form {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20%;
}

h2 {
    justify-self: center;
    align-self: center;
    font-weight: lighter;
    padding: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-self: center;
}

.container {
    display: grid;
    justify-content: center;
    align-self: center;
}

.image {
    justify-self: center;
    align-self: center;
    padding-bottom: 10%;
}

a {
    justify-self: center;
    align-self: center;
    background-color: white;
    padding: 10px 30px 10px 30px;
}

a:hover {
    justify-self: center;
    align-self: center;
    background-color: #FBD303;
    color: #800000;
    padding: 10px 30px 10px 30px;
}

.pick {
    justify-content: center;
    align-self: center;
    width: 600px;
}

.pick h3 {
    text-align: center;
}