* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #800000;
    margin-top: 3%;
}

header {
    align-items: center;
    background-color: white;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    color: #C51E3A;
    font-size: larger;
    /* padding-left: 100px; */
}

form {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 20%;
}

h2 {
    justify-self: center;
    align-self: center;
    font-weight: bold;
    padding: 10px;
}

h3 {
    justify-self: center;
    align-self: center;
    color: white;
    margin-top: 0.5%;
    font-weight: normal;
    padding: 5px;
}

.container {
    display: grid;
    height: 76vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: "nav nav nav nav" "sidebar main main main" "sidebar content1 content2 content3" "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    font-size: 14px;
    text-align: center;
}

main {
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#sidebar {
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.image {
    justify-self: left;
    align-self: left;
}

#checkfalc {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 95%;
    background-color: white;
    color: black;
    margin: 25px auto;
}

#checkfalc td {
    border: 1px solid black;
    padding: 8px;
}

#checkfalc tr:nth-child(even) {
    background-color: #f2f2f2;
}

#checkfalc tr:nth-child(odd) {
    background-color: #ddd;
}

#checkfalc1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 95%;
    background-color: white;
    color: black;
    margin: 25px auto;
}

#checkfalc1 td {
    border: 1px solid black;
    padding: 8px;
}

#checkfalc1 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#checkfalc1 tr:nth-child(odd) {
    background-color: #ddd;
}

#checkfalc2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 95%;
    background-color: white;
    color: black;
    margin: 25px auto;
}

#checkfalc2 td {
    border: 1px solid black;
    padding: 8px;
}

#checkfalc2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

#checkfalc2 tr:nth-child(odd) {
    background-color: #ddd;
}

a {
    display: grid;
    align-items: center;
    justify-content: center;
}

.inline {
    justify-self: center;
    align-self: center;
}

.loginbttn {
    justify-self: center;
    align-self: center;
}

.btn-primary {
    color: white;
    border: solid 1px white;
    background-color: #595959;
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    border-radius: 5%;
}

.btn-primary:hover {
    background-color: white;
    border: solid 1px white;
    color: #595959;
    padding: 10px 40px 10px 40px;
    border-radius: 5%;
}

.btn-primary1 {
    color: white;
    border: solid 1px white;
    background-color: #595959;
    margin-top: 30px;
    padding: 10px 40px 10px 40px;
    border-radius: 5%;
}

.btn-primary1:hover {
    background-color: white;
    border: solid 1px white;
    color: #595959;
    padding: 10px 40px 10px 40px;
    border-radius: 5%;
}