{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technological University of The Philippines-Cavite</title>

    <!--BOOTSTRAOP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!--Customize CSS-->
    <link rel="stylesheet" href="{%static 'css/faculty info.css'%}">
    <link rel="icon" href="{%static 'images/logo.png'%}">
</head>

<body>
    <main>
        <header>
            <div>
               <img id="logo" src="{%static 'images/logo.png'%}" alt="TUPC logo" width="120px" height="120px">
           </div>
            
           <div>
               <h1 class="{%static 'TUPlabel'%}"> TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES - CAVITE</h1>
           </div>
           </header>



        <form>

            <h3>FACULTY'S INFO</h3>

            <div class="container">
                <main>
                    <table id="checkfalcu">
                        <tr>
                            <td><b>NAME:</b> </td>
                            <td><b>MIDDLE NAME:</b> </td>
                            <td><b>SURNAME:</b> </td>
                        </tr>

                        <tr>
                            <td>Juana </td>
                            <td>Santiago</td>
                            <td>Dela Cruz</td>
                            </td>
                        </tr>

                        <tr>
                            <td><b>EMPLOYEE NO.:</b> </td>
                            <td colspan="2">DATE REQUESTED:</td>

                        </tr>

                        <tr>

                            <td>TUPC-19-0245 </td>
                            <td colspan="2">October 23, 2021</td>
                        </tr>

                    </table>

                    <h3>PERSONAL INFORMATION</h3>

                    <table id="checkfalcu1">
                        <tr>
                            <td><b>GSIS:</b> </td>
                            <td><b>GSIS Policy no.</b> </td>
                            <td><b>PhilHealth no.</b> </td>
                        </tr>

                        <tr>
                            <td>012345678912 </td>
                            <td>41621234 5467 8910</td>
                            <td>12-345678901-2</td>
                            </td>
                        </tr>

                        <tr>
                            <td><b>TIN:</b> </td>
                            <td><b>PAG-IBIG no.</b> </td>
                            <td><b>Others:</b> </td>
                        </tr>

                        <tr>
                            <td>123-456-789-000 </td>
                            <td>1234-5678-9101</td>
                            <td>-</td>
                            </td>
                        </tr>
                    </table>

                    <h3>IN CASE OF EMERGENCY</h3>

                    <table id="checkfalcu2">
                        <tr>
                            <td><b>CONTACT PERSON:</b> </td>
                            <td><b>CONTACT NO.:</b> </td>

                        </tr>

                        <tr>
                            <td>Maria Clara </td>
                            <td>09123456789</td>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>ADDRESS</b></td>
                        </tr>
                        <tr>
                            <td colspan="2">Blk 123 Lot 45, Phase 4, Brgy. Paliparan 3, City of Dasmariñas, Cavite</td>
                        </tr>

                    </table>
                    <br><br></main>
                <div id="sidebar"><img class="image" src="{%static 'images/Sample id.jpg'%}" alt="sample photo" width="200px" height="200px">
                    <p>ID Picture</p>
                    <img class="image" src="{%static 'images/signature.png'%}" alt="sample signature" width="200px" height="50px">
                    <p>Signature</p>
                </div>


            </div>

            <div class="loginbttn">
                <a class="btn btn-primary" href="{%static 'admin/APPROVED REQUEST (APPROVED).html'%}" id="log" role="button">PRINT</a>
            </div>
        </form>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="../js/faculty info.js"></script>



</body>

</html>