{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technological University of The Philippines-Cavite</title>

    <!--BOOTSTRAOP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--Customize CSS-->
    <link rel="stylesheet" href="{%static 'css/Student and Faculty Login.css'%}">
    <link rel="icon" href="{%static 'images/logo.png'%}">
</head>

<body>
    <main>
        <header>
            <img src="{%static 'images/logo.png'%}" alt="TUPC logo" width="120px" height="120px">
            <h1 class="TUPlabel"> TECHNOLOGICAL UNIVERSITY OF <br> THE PHILIPPINES - CAVITE</h1>
        </header>

        <form name="login_form" action="{% url 'idrequestApp:pick' %}"  method="POST">
            {% csrf_token %}
            <h2>ID REQUEST</h2>

            <h3>User Authentication</h3>
            <div class="custom">
                <label> Gsfe Account:</label>
                <input type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="juan.delacruz@gsfe.tupcavite.edu.ph" required>

                <label> Password:</label>
                <input type="password" id="InputPassword" required>
            </div>

            

            <input id="log" class="login" type="submit" value="Log in">

            <p id= "reg" class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'idrequestApp:newreg' %}"
                class="link-danger">Register here</a></p>

        </form>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
 
</body>

<!--trytrytrytry-->

</html>
