{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technological University of The Philippines-Cavite</title>

    <!--BOOTSTRAOP-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  
    <!--Customize CSS-->
    <link href="{%static 'css/reg.css'%}" rel="stylesheet">
    <link rel="icon" href="{%static 'images/logo.png'%}">

</head>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light mb-5 ">
  <img src="{%static 'images/logo.png'%}" alt="TUPC logo" width="50px" height="50px">
 
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <h3 class="TUPlabel"> TECHNOLOGICAL UNIVERSITY OF THE PHILIPPINES - CAVITE</h3>
  </div>
</nav>

<body>

    <section >
        <div class="mask d-flex align-items-center h-100 gradient-custom-3 mb-5">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-8 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-4">
                    <h2 class="text-uppercase text-center mb-3">Create an account</h2>
      
                    <form method='POST' enctype="multipart/for-data" action="{% url 'idrequestApp:newreg' %}">
                      {% csrf_token %}
      
                      <div class="form-outline mb-2">
                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="name" placeholder="Given Name   Middle Name   Surname" required>
                        <label class="form-label" for="form3Example1cg"></label>
                      </div>
      
                      <div class="form-outline mb-2">
                        <input type="email" id="form3Example3cg" class="form-control form-control-lg"name="email" placeholder="Your Email" required>
                        <label class="form-label" for="form3Example3cg"></label>
                      </div>

        
                      <div class="form-outline mb-4">
                        <input type="password" id="p" class="form-control form-control-lg" name="password" placeholder="Password"required/>
                  
                      </div>

                      <div class="form-outline mb-4">
                        <input type="password" id="p1" class="form-control form-control-lg"name ="type" placeholder="Confirm your password" required>
                      </div>

                   
                    <div class = "d-flex justify-content-center">
                     
                      
                        <select id="inputsection" class="form-control" name="type">
                      <option selected disabled>User's Role</option>
                      <option>Student</option>
                      <option>Professor</option>
                      <option>Admin</option>
                      
                    </select>

      

                    </div>

                    
      
                      <div id="reg" class=" justify-content-center mt-4" >
                        <button role="button" type="submit" class="btn btn-primary btn-block btn-lg"   onclick="return Validate()"  >Register   </button>
                      </div>
      
                      <p class="text-center text-muted mt-2 mb-0">Have already an account? <a href="{% url 'idrequestApp:index' %}" class="fw-bold text-body"><u>Login here</u></a></p>
      
                    </form>
      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <script type="text/javascript">
        function Validate() {
            var password = document.getElementById("p").value;
            var confirmPassword = document.getElementById("p1").value;
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        }
      </script>


</body>

<!-- secsecsec -->

</html>